services:
  api:
    build: .
    command: ["/bin/api"]
    ports: ["8080:8080"]
    env_file:
      - .env
    environment:
      ADDR: ":8080"
      META_BASE_URL: "https://graph.facebook.com"
      META_API_VERSION: "v24.0"
      HTTP_TIMEOUT: "45s"
      DATABASE_URL: "postgres://postgres:postgres@postgres:5432/creatives?sslmode=disable"
      MAX_CONCURRENCY: "6"
      TOKEN_FRANCISCO: ${TOKEN_FRANCISCO}
      TOKEN_CONTIGENCIA01: ${TOKEN_CONTIGENCIA01}

    depends_on: [postgres]


  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: creatives
    ports: ["5433:5432"]

